/******************************************
common
****************************************** */
body{
    font-family: 'Montserrat', sans-serif;
    font-family: sans-serif;
    overflow-y: hidden;    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.txt-white{
    color: white;
}
.txt-grey{
    color: grey;
}
.disp-none{
    display: none;
}
a{
    text-decoration: none;
    color: white;
}
.d-flex{
    display: flex;
}
.fd-col{
    flex-direction: column;
}
.font-sz-10{
    font-size: 10px;
}
.font-sz-25{
    font-size: 25px;
}
.container{
    max-width:1200px;
}
ul{
    list-style-type: none;
}
/* ******************************************
                    main
****************************************** */
/* ******************************************
top navbar
****************************************** */
.navbar{
    height: 100px;
    background-color: #080b12;
    position: fixed;
    left: 4rem;
    right: 0;
    top: 0;
    padding: 20px;
    z-index: 1;
}
.upgrade{
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
    padding: 0.8rem 2rem;
    background: #080b12;
    border: 1px solid white;
    border-radius: 30px;
}
/* ******************************************
navbar-left
****************************************** */
.column{
    background-color: black;
    width: 4rem;
    height: 89vh;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.col{
    width: 4 rem;
}
.column img{
    width: 2rem;
}
.install{
    padding-bottom: 1rem;
}
.install .txt-grey,
.account .txt-grey{
    margin-right: 1rem;
}
.account .txt-grey{
    margin-bottom: 1rem;
    background-color: grey;
    border-radius: 50%;
}
.rule{
    border: 1px solid grey;
    width: 10rem;
    margin-bottom: 1rem;
}
/* *******************************************
footer
******************************************* */
footer{
    height: 11vh;
    background-color: #282828;
    padding-top: 1rem;
    z-index: 2;
    position: relative;
}
    footer .row{
    justify-content: space-between;
    align-items: center;
    }
.sx-content{
    align-items: center;
    width: 30%;
}
.song img{
    width: 2rem;
    margin: 1rem;
}
.song-title{
    padding-right: 1rem;
}
.middle-content i{
    padding:0.8rem;
}
.progress-bar{
    justify-content: space-between;
}
.bar-border{
    width: 100%;
    border: 1px solid #6d6d6d;
    height: 5px;
    background-color: #6d6d6d;
    border-radius: 5px;
    margin: 0 1rem;
}
.bar-border-white{
    width: 25%;
    border: 1px solid white; 
    height: 5px;
    background-color: white;
    border-radius: 5px;  
}

.dx-content{
    align-items: center;
    width: 30%;
}
.dx-content i{
    padding-left: 1rem;
}


/*******************************************
 ******************************************
media tablet
****************************************** 
*******************************************/
@media all and (min-width: 576px){

  /* ******************************************
          top  navbar */  
    .upgrade{
        padding: 0.5rem 1.5rem;
    }
/* ******************************************
            navbar-left */
    .column{
        width:  12rem;
        align-items: flex-start;
        padding-left: 1rem;
    }
    .column img{
        padding: 0;
        width: 1.5rem;
    }
    .navbar-left .logo-txt{
        padding: 1rem 0;
    }
    .navbar{      
        left: 12rem;
    }
    .logo{
        display: none;
    }
    .column .logo-txt{
        width: 8rem;
    }
    .navbar-left .disp-none {
        vertical-align: 0.3rem; 
    }
    .disp-none {
        display: inline-block;

    }
    .green-line {
        position: absolute;
        height: 40px;
        border: 1px solid greenyellow;
        left: 0;
        top: 74px;
    }
    li span{
        padding-bottom: 1rem;
    }
    .col .navbar-left{
        padding-bottom: 1rem;
    }
  .playlist .txt-grey{
        padding-bottom: 1rem;
    }
    .side-list{
        overflow-y: auto;
        height: 15rem;
        margin-top: 2rem;
    }
    #plus {
        color: black;
        padding: 10px;
        background-color: gray;
        margin-top: 1rem;
    }
}
/*******************************************
 ******************************************
media pc
****************************************** 
*******************************************/
@media all and (min-width: 576px){
    /* ******************************************
    footer  */
    .song-icons{
        flex-direction: row;
    }
    .song-icons i{
        padding-left: 1rem;
    }
    

}
    
